.navbar
{
    background-image: linear-gradient(rgb(37, 37, 37),rgb(31, 31, 31));
}
.Home_Img
{
    height: calc(100vh - 50px);
    background-color: rgb(37, 37, 37);;
    width: 100%;

    min-height: 700px;
}
.logo
{
    display: none;
}
.carousel-img
{
    height: calc(100vh - 50px);
    min-width: max-content;
}
.carousel-caption
{
    backdrop-filter: blur(5px);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 20px;
    height: 700px;
    width: 100%;
    padding-left: 20px;
}
@media screen and (min-width: 768px) 
{
    .logo
    {
        max-width: 100%;
        display: inline;
    }
}
@media screen and (min-width: 992px) 
{
    .carousel-caption
    {
        width: 80%;
    }
}